node_modules

.next

.env
.env.local
.env.production

.excalidraw
tsconfig.tsbuildinfo
.DS_Store
# clerk configuration (can include secrets)
/.clerk/

editron-457314-dbaa23a9bf46.json

.roo

/app/api/test

secret_md_files
app/dashboard/musitron/task/[id]/reference_ui
.vscode/settings.json

*.env
react-video-editor-pro-main
tsconfig.tsbuildinfo
